<nav class="navbar navbar-inverse">
  <a class="navbar-brand" colspan="25" >Tutorial</a>
</nav>
<div class="container" style="max-width:350px;" > 
<h2>Estudiantes</H2>
<form action="/estudiante/create" method="POST" accept-charset="utf-8" class="form-signin">
nombre
<input type="text" name="txtnombre" class="form-control" required>
<br/>
<input type="submit" class="btn btn-success  btn-lg" />
</form>
</div>