<nav class="navbar navbar-inverse">
  <a class="navbar-brand" colspan="25" >Tutorial</a>
</nav>
<div class="container" style="max-width:350px;" > 
<h2>cambio de notas</H2>
<form action="/examen/cambiar" method="POST" accept-charset="utf-8" class="form-signin">
nombre
<input type="text" name="txtestudiante" class="form-control" required>
<br/>
<input type="text" name="txtnota" class="form-control" required>
<br/>
<input type="text" name="txtnota2" class="form-control" required>
<br/>
<input type="submit" class="btn btn-success  btn-lg" />
</form>
</div>